<div class="content-body">
    <mat-card *ngIf="!isLoading">
        <mat-card-header>
            <mat-card-title>
                <h3>Reset Password</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            Enter your new password below.
        </mat-card-content>
        <mat-card-actions>
            <form [formGroup]="passwordResetForm"
                (ngSubmit)="resetPassword()">
                <mat-form-field>
                    <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="passwordResetForm.get('password').invalid">
                        {{getErrorMessage(passwordResetForm.get('password'))}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirm New Password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
                    <mat-error *ngIf="passwordResetForm.get('confirmPassword').invalid">
                        {{getErrorMessage(passwordResetForm.get('confirmPassword'))}}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" [disabled]="!passwordResetForm.valid">
                    Reset Password
                </button>
            </form>
        </mat-card-actions>
    </mat-card>
</div>