<div class="header-container">
    <div class="header-left">
        <div class="toggle-btn" (click)="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    
        <a routerLink="/home">
            <img src="" alt="Logo">
        </a>OSRS Achievment Gallery
    </div>
   

    <div class="header-right">
        <app-profile-stub></app-profile-stub>
        <!-- <a routerLink="">Login</a>
        <a routerLink="">Register</a> -->
    </div>
</div>
<app-sidebar
    [status]="toggle ? 'active' : 'inactive'"
    (toggle)="closeSidebar()">
</app-sidebar>