mat-spinner {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

mat-card.card.large {
    max-width: calc(100% - 1em);
    flex: 1 0 calc(100% - 1em);

    padding: 0;
    margin: 0.5em 0.5em;

    background-color: rgb(66,69,80);
    border: 1px solid rgba(140,140,140,0.3);
}

mat-card.card.small {
    max-width: calc(50% - 1em - 2px);
    flex: 1 0 calc(50% - 1em - 2px);

    padding: 0;
    margin: 0.5em 0.5em;

    background-color: rgb(66,69,80);
    border: 1px solid rgba(140,140,140,0.3);
}

/* ----- Card Header ----- */
.card-header {
    display: flex;
    justify-content: space-between;

    padding: 10px 10px;

    background-color: rgb(30,33,36);
    border-bottom: 1px solid rgba(140,140,140,0.3);

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-data span.score {
    padding-right: 10px;
    border-right: 1px solid rgba(140,140,140,0.3);
}

.card-data span.incomplete {
    padding-left: 10px;
    color: rgb(255,255,0);
}

.card-data span.complete {
    padding-left: 10px;
    color: rgb(0, 255, 0);
}

/* ----- Card Body ----- */
.card-body ul {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: minmax(50px, auto);

    justify-items: center;
    align-items: center;
    
    padding: 10px 10px;
    list-style-type: none;
}

.card-body li {
    position: relative;
    user-select: none;
}

img.unobtained {
    opacity: 0.3;
}

img.obtained {
    opacity: 1;
}

img:hover {
    cursor: pointer;
}

li .item-tooltip {
    visibility: hidden;
    background-color: rgb(20,23,26);
    text-align: center;
    padding: 5px;
    
    font-size: small;
    white-space: nowrap; /* TODO cuts content when hanging off screen */

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

li:hover .item-tooltip {
    visibility: visible;
}

/* For screens smaller than 992px */
@media only screen and (max-width: 992px) {
    mat-card.card.small {
        max-width: calc(100% - 1em);
        flex: 1 0 calc(100% - 1em);

        padding: 0;
        margin: 0.5em 0.5em;

        background-color: rgb(66,69,80);
        border: 1px solid rgba(140,140,140,0.3);
    }
}