<mat-spinner *ngIf="isLoading" [diameter]="100"></mat-spinner>

<div *ngIf="!isLoading" class="card-container">
    <!-- Collection Log Cards -->
    <mat-card *ngFor="let logs of categoryLogs"
        [ngClass]="category === 'Clues' ? 'card large' : 'card small'">
        <div class="card-header">
            <div>
                {{logs.key}}
            </div>
            <div class="card-data">
                <span *ngIf="logs.value.score > 0" class="score">
                    {{logs.value.scoreDescription}}: {{logs.value.score}}
                </span>
                <span [ngClass]="logs.value.obtained === logs.value.items.length ? 'complete' : 'incomplete'">
                    {{logs.value.obtained}}/{{logs.value.items.length}}
                </span>
            </div>
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let item of logs.value.items">
                    <img src="{{item.image}}" alt="{{item.item}}"
                        (dblclick)="updateLog(item.item)"
                        [ngClass]="item.ProfileCollectionLogs.obtained ? 'obtained' : 'unobtained'">
                    <div class="item-tooltip">{{item.item}}</div>
                </li>
            </ul>
        </div>
    </mat-card>
</div>