<div class="content-body">
    <div class="content-options">
        <ul>
            <a id="skills-btn" (click)="renderCategory('skills')"> 
                <li>
                    <p>Skills</p>
                </li>
            </a>
            <a id="bosses-btn" (click)="renderCategory('bosses')"> 
                <li>
                    <p>Bosses</p>
                </li>
            </a>
            <a id="clues-btn" (click)="renderCategory('clues')">
                <li>
                    <p>Clues</p>
                </li>
            </a>
        </ul>
    </div>






</div>