.content-body {
    height: calc(100% - 56px);
    margin-top: 56px;

    margin-left: 5%;
    margin-right: 5%;

    padding: 1%;
    padding-top: 0;

    background-color: rgb(25,27,29);
}

.content-options {
    padding-bottom: 10px;
}

.content-options ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style-type: none;

    border-bottom: 1px solid rgba(100,100,100,0.3);
}

/* Options button */
.content-options a {
    flex: 1 1 auto;
    max-width: 180px;

    text-align: center;

    padding: 10px;
}

.content-options a:hover {
    cursor: pointer;
    background-color: rgb(100,102,104);
}

.content-options a.selected {
    border-bottom: 2px solid rgba(0, 255, 255, 0.9);
}
