<div id="sidebar">
    <ul>
        <a routerLink="/home" (click)="closeSidebar()">
            <li>
                <p>Home</p>
                <img src="" alt="PH">
            </li>
        </a>
        <a routerLink="/overview" (click)="closeSidebar()">
            <li>
                <p>Overview</p>
                <img src="" alt="PH">
            </li>
        </a>
        <a routerLink="/collection-log" (click)="closeSidebar()">
            <li>
                <p>Collection Log</p>
                <img src="" alt="PH">
            </li>
        </a>
        <a routerLink="/generate-task" (click)="closeSidebar()">
            <li>
                <p>Generate Task</p>
                <img src="" alt="PH">
            </li>
        </a>
    </ul>
</div>