.content-body {
    height: calc(100% - 56px);
    margin-top: 56px;

    margin-left: 15%;
    margin-right: 15%;

    background-color: rgb(40,43,48);
    border: 1px solid rgba(140,140,140,0.3);
}

.content-container {
    height: 100%;
}

.content-wrapper {
    margin: 0.5em;
}

/* Tab Bar */
.tab-bar > .tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border-bottom: 1px solid rgba(140,140,140,0.3);
}

/* Tab Styling */
.tabs > a {
    flex: 1 1 auto;
    max-width: 180px;

    text-align: center;
    font-size: 16px;
    font-weight: 500;

    padding: 10px;
}

.tabs > a:hover {
    cursor: pointer;
    background-color: rgb(146,149,160, 0.5);
}

.tabs > a.selected {
    /* border-bottom: 2px solid rgba(0, 255, 255, 0.9); */
    border-bottom: 2px solid yellow;
}