<div class="content-body">
    <div *ngIf="!isLoading" class="content-container">
        <!-- Tab Bar -->
        <div class="tab-bar">
            <div class="tabs">
                <a *ngFor="let categoryTab of categories" (click)="selectCategory(categoryTab)"
                [ngClass]="{'selected': categoryTab === category}">
                    {{categoryTab}}
                </a>
            </div>
        </div>
        <!-- Content -->
        <div class="content-wrapper">
            <app-category [category]="category" [profileId]="profileId"></app-category>
        </div>
    </div>
</div>