.section-container {
    display: flex;

    height: calc(100% - 51px);
}

.profiles-container {
    flex: 1 1 0;

    display: flex;
    flex-direction: column;

    text-align: center;

    margin-top: -10px;
    border-right: 1px solid rgba(100,100,100,0.3);
}

.profiles-container a {
    text-decoration: none;

    padding: 10px 5px;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

.profiles-container a:last-child {
    border-bottom: none;
}

.profiles-container a:hover {
    cursor: pointer;
    background-color: rgb(100,102,104);
}

.profiles-container a.selected-view {
    /* border-right: 2px solid yellow; */
    background-color: rgb(100,102,104);
}

/* Right hand side view */
.content-container {
    flex: 4 1 0;

    margin-left: 1%;
}

.content-view {

}

