<div class="section-container">
    <div class="profiles-container">
        <a *ngFor="let profile of profiles" id="{{profile}}" 
            (click)="renderView($event)">
            {{profile}}
        </a>

        <a id="_create" (click)="renderView($event)">Add Profile</a>
    </div>
    <div class="content-container">
        <div *ngIf="contentView == '_create'"
            class="content-view">
            <h3>Register Profile</h3>
            <form [formGroup]="createProfileForm" 
                (ngSubmit)="createProfileForm.valid && createProfile(createProfileForm.value)">
                Value: {{ createProfileForm.value | json }}
                <div>
                    <label for="username">
                        Username
                    </label>
                    <input id="username" type="text" style="color: black;"
                        formControlName="username">
                </div>

                <button type="submit" style="color: black;">
                    Add Profile
                </button>
            </form>
        </div>
        <div *ngIf="contentView != '_create'"
            class="content-view">
            todo profile settings content
        </div>
    </div>
</div>