<div class="content-body">
    <mat-card class="content-container">
        <div class="header">
            <h1>
                My Account
                <!-- Account Dashboard -->
            </h1>
        </div>
        
        <div class="grid-container">
            <div class="grid-item information">
                <mat-card>
                    <h3 class="card-text">Account Information</h3>
                    <div>
                        email: {{getUserEmail()}}
                    </div>
                    <div>
                        created on: {{getUserCreationDate()}}
                    </div>
                </mat-card>
            </div>
            <div class="grid-item">
                <mat-card>
                    <h3 class="card-text">Password Reset</h3>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo itaque natus aperiam consectetur accusamus consequatur cupiditate eveniet est ipsam! Distinctio, molestiae reiciendis labore sed eligendi aliquid commodi incidunt at autem?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique distinctio, quam ipsum eveniet unde aut veniam consectetur deleniti. Omnis illo ratione sit harum maxime esse minus totam aspernatur provident eaque.
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>





<!-- <div class="content-body">
    <div class="content-container">
        this is some text
    </div>
</div> -->

<!-- <div class="header">
    <h1>Account Dashboard</h1>
</div>

<div class="grid-container">
    <div class="grid-item information">
        <mat-card>
            <h3 class="card-text">Account Information</h3>
            <div>
                email: {{getUserEmail()}}
            </div>
            <div>
                created on: {{getUserCreationDate()}}
            </div>
        </mat-card>
    </div>
    <div class="grid-item">
        <mat-card>
            <h3 class="card-text">Password Reset</h3>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo itaque natus aperiam consectetur accusamus consequatur cupiditate eveniet est ipsam! Distinctio, molestiae reiciendis labore sed eligendi aliquid commodi incidunt at autem?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique distinctio, quam ipsum eveniet unde aut veniam consectetur deleniti. Omnis illo ratione sit harum maxime esse minus totam aspernatur provident eaque.
            </div>
        </mat-card>
    </div>
</div> -->