.content-body {
    height: calc(100% - 56px);
    margin-top: 56px;

    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-container {
    display: flex;
    flex-direction: column;

    max-width: 600px;
    /* max-height: min-content; */

    margin: 5% 0;

    background-color: rgb(40,43,48);
    border: 1px solid rgba(140,140,140,0.3);
}

.content-container > * {
    margin-bottom: 1em;
}

.header h1 { color: rgb(255,255,0); }

.grid-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-auto-rows: auto;
    gap: 1em 1em;
}

/* Cards */
mat-card {
    background-color: rgb(54,57,62);
}

.card-text {
    margin-bottom: 1em;
} 




/* .content-body {
    height: calc(100% - 56px);
    margin-top: 56px;

    margin-left: 15%;
    margin-right: 15%;

    background-color: rgb(40,43,48);
    border: 1px solid rgba(140,140,140,0.3);
}

.content-container {
    height: calc(100% - 4em);
    padding: 2em;
}

.content-container > * {
    margin-bottom: 1em;
}

.header h1 { color: rgb(255,255,0); }

Media Query Grid Styles
Screens smaller than 991px
@media only screen and (max-width: 991px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(200px, 2fr);
        grid-auto-rows: auto;
        gap: 1em 1em;
    }
}

Screens larger than 992px
@media only screen and (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(200px, 1fr);
        grid-auto-rows: auto;
        gap: 1em 1em;
    }
}

Cards
mat-card {
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(54,57,62);
}

.card-text {
    margin-bottom: 1em;
} */