.content-body {
    height: calc(100% - 56px);
    margin-top: 56px;

    margin-left: 15%;
    margin-right: 15%;

    padding: 1%;

    background-color: rgb(40,43,48);
    border: 1px solid rgba(140,140,140,0.3);
}
