<!-- <app-loader *ngIf="!loaded"></app-loader> -->

<div *ngIf="!isLoading" class="summary-container">

    
    <div class="progress-bar container">
        <!-- 'All' Progress Bar -->
        <div class="progress-bar large">
            <div class="progress-bar header">
                <div>
                    All
                </div>
                <div class="progress-bar data">
                    {{summary['All'].obtained}}/{{summary['All'].total}}
                </div>
            </div>
            <div class="progress-bar body">
                <div class="dividers">
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                </div>
                <div class="progress" [ngStyle]="{'width': summary['All'].percent+'%'}"></div>
            </div>
        </div> 
        
        <!-- Category Progress Bar -->
        <div *ngFor="let categoryLogs of collectionLog" class="progress-bar small">
            <div class="progress-bar header">
                <div>
                    {{categoryLogs.category}}
                </div>
                <div class="progress-bar data">
                    {{summary[categoryLogs.category].obtained}}/{{summary[categoryLogs.category].total}}
                </div>
            </div>
            <div class="progress-bar body">
                <div class="dividers">
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                </div>
                <div class="progress" [ngStyle]="{'width': summary[categoryLogs.category].percent+'%'}"></div>
            </div>
        </div>  
    </div>
</div>







<!-- <div *ngIf="loaded" class="stats-container">
    <div *ngIf="(uniques | json) != '{}'">
        <h3 class="section-header">
            Recently Obtained Uniques
        </h3>
        <div class="recent-tray">
            <div *ngFor="let unique of uniques | keyvalue: defaultSort" class="unique-item">
                <img id="{{unique.value.item.name}}" src="{{unique.value.image.src}}" alt=""/>
                <div class="item-tooltip">{{unique.value.item.name | replaceUnderscore }}</div>
            </div>
        </div>
    </div>
</div> -->