<div class="content-body">
    <div class="content-options">
        <ul>
            <a id="profiles-btn" (click)="renderSection('profiles')"> 
                <li>
                    <p>Profiles</p>
                </li>
            </a>
            <a id="general-btn" (click)="renderSection('general')"> 
                <li>
                    <p>General</p>
                </li>
            </a>
        </ul>
    </div>

    <app-settings-profiles *ngIf="profilesSection"></app-settings-profiles>
    <app-settings-general *ngIf="generalSection"></app-settings-general>
</div>